<!-- FAQ & Contact Form Start -->
{% extends 'web_site_front/base_site.html' %}
{% load static%}
{% block sub_header_site %}
{% include 'web_site_front/sub_header_site.html' %}
{% endblock %}

{% block contenu %}
<!-- Product Content Start -->
<div class="section andro_post-single">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="entry-content">
                    <div class="andro_post-single-thumb">
                        <img src="{%static 'assets/img/blog/2-lg.jpg'%}" alt="post">
                    </div>
                    <h2>Books You Cant Forget </h2>
                    <div class="andro_post-single-author">
                        <img src="{%static 'assets/img/people/4.jpg'%}" alt="author">
                        <div class="andro_post-single-author-content">
                            <p>Jina Flock</p>
                            <span>Posted on August 24, 2020</span>
                        </div>
                    </div>
                    <p>
                        L'écocitoyenneté est un terme qui constitue un néologisme formé d’écologie et de citoyenneté. Cela fait référence à la conscience écologique d'appartenir à un environnement (terre, continent, ou pays selon l'échelle) qui garantit son existence, ce qui implique pour lui des droits et des devoirs par rapport à un territoire. Par exemple : le droit de jouir d'un environnement sain et le devoir de ne pas le polluer pour conserver cet environnement sain.

Ce mot-valise renvoie au terme grec oïkos (maison, habitat, milieu de vie) et à la citoyenneté, mais de manière participative et politique, afin de protéger ensemble un intérêt général et la cité publique1. Selon Lucie Sauvé, une sommité dans le domaine de l'éducation relative à l'environnement, l'écocitoyenneté est envisagée comme "une citoyenneté critique, comp
                    </p>
                    <h4>Newly Health & Fitnessed Books</h4>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. <a href="#">Lorem Ipsum has been the industry's</a> standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
                        to make a type specimen book.
                    </p>
                    <a href="{%static 'assets/img/blog/1-lg.jpg'%}" class="gallery-thumb">
                        <img src="{%static 'assets/img/blog/1-lg.jpg'%}" alt="post">
                    </a>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                        galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting
                    </p>
                    <blockquote>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                    </blockquote>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                        galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release
                        of Letraset sheets
                        containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <a href="{%static 'assets/img/blog/2.jpg'%}" class="gallery-thumb">
                                <img src="{%static 'assets/img/blog/2.jpg'%}" alt="post">
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="{%static 'assets/img/blog/3.jpg'%}" class="gallery-thumb">
                                <img src="{%static 'assets/img/blog/3.jpg'%}" alt="post">
                            </a>
                        </div>
                    </div>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                        specimen book.
                        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
                        recently with
                        desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
                    </p>
                </div>
                <!-- Post Meta Start -->
                <div class="andro_post-single-meta">
                    <div class="andro_post-single-meta-item">
                        <h6>Tags</h6>
                        <div class="tagcloud">
                            <a href="#">#Electronics</a>
                            <a href="#">#Politics & Affairs</a>
                            <a href="#">#Mystery</a>
                        </div>
                    </div>
                    <div class="andro_post-single-meta-item">
                        <h6>Categories</h6>
                        <div class="tagcloud">
                            <a href="#">Book</a>
                            <a href="#">Politics & Affairs</a>
                        </div>
                    </div>
                </div>
                <!-- Post Meta End -->
                <!-- Post Share Start -->
                <div class="andro_post-share">
                    <ul class="andro_sm">
                        <li> <a href="#" data-toggle="tooltip" title="Share on Facebook"> <i class="fab fa-facebook-f"></i> </a> </li>
                        <li> <a href="#" data-toggle="tooltip" title="Share on Twitter"> <i class="fab fa-twitter"></i> </a> </li>
                        <li> <a href="#" data-toggle="tooltip" title="Share on Linkedin"> <i class="fab fa-linkedin-in"></i> </a> </li>
                    </ul>
                </div>
                <!-- Post Share End -->
            </div>
            <!-- Sidebar Start -->
            <div class="col-lg-4">
                <div class="sidebar">
                    <!-- Listen Widget Start -->
<!--                    <div class="sidebar-widget widget-audio">-->
<!--                        <p>Audio Book: Books you Cant Forget</p>-->
<!--                        <div class="andro_audio-widget">-->
<!--                            <div class="andro_audio-widget-controls">-->
<!--                                <i class="fas fa-play"></i>-->
<!--                                <i class="fas fa-pause"></i>-->
<!--                            </div>-->
<!--                            <div class="progress">-->
<!--                                <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>-->
<!--                            </div>-->
<!--                            <span>00:00 / 2:32</span>-->
<!--                        </div>-->
<!--                    </div>-->
                    <!-- Listen Widget End -->
                    <!-- About Author Start -->
                    <div class="sidebar-widget widget-about-author">
                        <div class="widget-about-author-inner">
                            <img src="{%static 'assets/img/people/4.jpg'%}" alt="author">
                            <h5>Jina Flock</h5>
                            <p>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Donec sollicitudin molestie malesuada. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.</p>
                            <a href="#" class="andro_btn-custom btn-block">View All Posts</a>
                        </div>
                        <ul class="andro_sm">
                            <li> <a href="#"> <i class="fab fa-facebook-f"></i> </a> </li>
                            <li> <a href="#"> <i class="fab fa-twitter"></i> </a> </li>
                            <li> <a href="#"> <i class="fab fa-linkedin-in"></i> </a> </li>
                            <li> <a href="#"> <i class="fab fa-youtube"></i> </a> </li>
                        </ul>
                    </div>
                    <!-- About Author End -->
                    <!-- Recent Posts Start -->
                    <div class="sidebar-widget widget-recent-posts">
                        <h5 class="widget-title">Recent Posts</h5>
                        <article class="post">
                            <a href="post-single.html"><img src="{%static 'assets/img/blog/5.jpg'%}" alt="post"></a>
                            <h6> <a href="post-single.html">10 Top Books In Economics</a> </h6>
                            <span>Posted on <a href="post-single.html">May 20, 2021</a> </span>
                        </article>
                        <article class="post">
                            <a href="post-single.html"><img src="{%static 'assets/img/blog/3.jpg'%}" alt="post"></a>
                            <h6> <a href="post-single.html">From World Library Books</a> </h6>
                            <span>Posted on <a href="post-single.html">May 20, 2021</a> </span>
                        </article>
                        <article class="post">
                            <a href="post-single.html"><img src="{%static 'assets/img/blog/4.jpg' %}" alt="post"></a>
                            <h6> <a href="post-single.html">Buy The Perfect Collection</a> </h6>
                            <span>Posted on <a href="post-single.html">May 20, 2021</a> </span>
                        </article>
                    </div>
                    <!-- Recent Posts End -->
                    <!-- Categories Start -->
                    <div class="sidebar-widget categories-widget">
                        <h5 class="widget-title"> Post Categories </h5>
                        <ul class="sidebar-widget-list">
                            <li>
                                <a href="#"> Politics & Affairs <span>(32)</span> </a>
                                <ul>
                                    <li> <a href="#">Cricket <span>(14)</span> </a> </li>
                                    <li> <a href="#">Mystery <span>(39)</span></a> </li>
                                    <li> <a href="#">Book <span>(54)</span> </a> </li>
                                </ul>
                            </li>
                            <li> <a href="#"> Auto & Bike <span>(24)</span> </a> </li>
                            <li> <a href="#"> Fiction <span>(44)</span> </a> </li>
                            <li> <a href="#">Home & Garden <span>(15)</span> </a> </li>
                        </ul>
                    </div>
                    <!-- Categories End -->
                    <!-- Popular Tags Start -->
                    <div class="sidebar-widget">
                        <h5 class="widget-title">Popular Tags</h5>
                        <div class="tagcloud">
                            <a href="#">Electronics</a>
                            <a href="#">Politics & Affairs</a>
                            <a href="#">Cricket</a>
                            <a href="#">Book</a>
                            <a href="#">Auto & Bike</a>
                            <a href="#">Fiction</a>
                            <a href="#">Mystery</a>
                            <a href="#">Mystery</a>
                            <a href="#">Beauty & Health</a>
                            <a href="#">Technology</a>
                            <a href="#">Health & Fitness</a>
                        </div>
                    </div>
                    <!-- Popular Tags End -->
                    <!-- Newsletter Start -->
                    <div class="sidebar-widget">
                        <div class="andro_newsletter-form primary-bg pattern-bg">
                            <h5 class="text-white">Join our newsletter</h5>
                            <p class="text-white">Get exclusive weekly deals with our newsletter subscription</p>
                            <form method="post">
                                <div class="form-group">
                                    <input type="email" class="form-control" name="newsletter_email" placeholder="Email Address" value="">
                                </div>
                                <button type="submit" class="andro_btn-custom light btn-block" name="button">Join Newsletter</button>
                            </form>
                        </div>
                    </div>
                    <!-- Newsletter End -->
                </div>
            </div>
            <!-- Sidebar End -->
        </div>
    </div>
</div>
<!-- Product Content End -->
<!-- Comment Form Start -->
<div class="section pt-0">
    <div class="container">
        <div class="section-title">
            <h4 class="title">Poser des questions sur l'ecocitoyennete</h4>
        </div>
        <div class="comment-form">
            <form method="post" action="{% url 'add_comment_site_eco'%}">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-12 form-group">
                        <textarea class="form-control" required placeholder="Taper votre commentaire..." name="commentaire" rows="7"></textarea>
                    </div>
                </div>
                <button type="submit" class="andro_btn-custom primary" name="button">Poster</button>
            </form>
        </div>
        <div class="comments-list">
            <ul>
                {% for comment in page_comment.object_list %}
                <li class="comment-item">
                    <img src="{{comment.lecteur.image_reader.url}}" alt="Photo Lecteur">
                    <div class="comment-body">
                        <h5>{{comment.lecteur.first_name}}{{comment.lecteur.last_name}}</h5>
                        <span>Posté le : {{comment.created_at}}</span>
                        <p>{{comment.commentaire}}</p>
<!--                        <a href="#" class="reply-link"> Reply </a>-->
                    </div>
                </li>
                {%endfor%}
            </ul>
             <!-- Pagination Start -->
                 <ul class="pagination">
                {% if page_comment.has_previous%}
                       <li class="page-item"><a class="page-link" href="{% url 'ecocitoyennete_site'%}?page_comment={{page_comment.previous_page_number}}"><i class="fa fa-angle-double-left"></i></a></li>
                {%endif%}
                <li class="page-item active">
                    <a class="page-link" href="{% url 'ecocitoyennete_site'%}?page_comment={{page_comment.number}}">{{page_comment.number}} <span class="sr-only">(current)</span></a>
                </li>
                {% if page_comment.has_next%}
                       <li class="page-item"><a class="page-link" href="{% url 'ecocitoyennete_site'%}?page_comment={{page_comment.next_page_number}}"><i class="fa fa-angle-double-right"></i></a></li>
                {%endif%}
            </ul>
            <!-- Pagination End -->
        </div>
    </div>
</div>
<!-- Comment Form End -->
<!-- Related Posts Start -->
<div class="section pt-0 andro_related-posts">
    <div class="container">
        <div class="section-title flex-title">
            <h4 class="title">Les recents evennements sur l'ecocitoyenneté</h4>
            <div class="andro_arrows">
                <i class="fa fa-arrow-left slick-arrow slider-prev"></i>
                <i class="fa fa-arrow-right slick-arrow slider-next"></i>
            </div>
        </div>
        <div class="andro_related-posts-slider bg-white">
            {%for ev in page.object_list%}
            <!-- Article Start -->
            <article class="andro_post " >
                <div class="andro_post-thumb">
                    <a href="{%url 'detailsEvent' ev.pk %}">
                        <img src="{{ev.image_events.url}}"  style="height:35vh; width:100%" class="img-fit" alt="post" >
                    </a>
                </div>
                <div class="andro_post-body">
                    <div class="andro_post-categories">
                        <a >Ecocitoyenneté</a>
                    </div>
                    <div class="andro_post-desc">
                        <h5> <a href="{%url 'detailsEvent' ev.pk %}">{{ev.title_events}} </a> </h5>
                        <span> <span class="fw-600">Poster le </span> <a  class="andro_post-date">{{ev.created_at}}</a> </span>
                        <p>{{ev.descriptions|truncatechars:100}}</p>
                    </div>
                    <a class="andro_btn-custom btn-block" href="{%url 'detailsEvent' ev.pk %}"> Voir plus.. </a>
                </div>
            </article>
            <!-- Article End -->
           {%endfor%}
        </div>
    </div>
</div>
<!-- Related Posts End -->
{% endblock %}