{% load static%}

<script src="{% static 'assets/js/plugins/jquery-3.4.1.min.js ' %}"></script>
   <script src="{% static 'assets/js/plugins/popper.min.js' %}"></script>
   <script src="{% static 'assets/js/plugins/waypoint.js' %}"></script>
   <script src="{% static 'assets/js/plugins/bootstrap.min.js' %}"></script>
   <script src="{% static 'assets/js/plugins/jquery.magnific-popup.min.js' %}"></script>
   <script src="{% static 'assets/js/plugins/jquery.slimScroll.min.js' %}"></script>
   <script src="{% static 'assets/js/plugins/imagesloaded.min.js' %}"></script>
   <script src="{% static 'assets/js/plugins/jquery.steps.min.js' %}"></script>
   <script src="{% static 'assets/js/plugins/jquery.countdown.min.js' %}"></script>
   <script src="{% static 'assets/js/plugins/isotope.pkgd.min.js' %}"></script>
   <script src="{% static 'assets/js/plugins/slick.min.js' %}"></script>
   <script src="{% static 'assets/js/plugins/ion.rangeSlider.min.js' %}"></script>
   <script src="{% static 'assets/js/plugins/jquery.zoom.min.js' %}"></script>
   <script src="{% static 'assets/js/plugins/slick-animation.min.js' %}"></script>
   <!-- Bookz Scripts -->
   <script src="{% static 'assets/js/main.js' %}"></script>
<script src="{% static 'js/sweetalert2.all.min.js' %}"></script>
